/* en vrac :
100% 100%   
display  flex none 
 width
*/
*{
  box-sizing: border-box;
    /* change le box model */
}
img {
    max-width:100%;
    height: auto;
      /* image responsive, largeur maxi */
      /* hauteur "auto" */
}
.carrousel_parent-ecrans {

      /* aligne horizontalement les enfants */
    display: flex;
      /* largeur du parent */
    width: 100%;
    overflow-x: scroll; /* permet de scroller horizontalement */
    scroll-behavior: smooth; /* permet d'avoir un scroll fluide */
    scroll-snap-type: x mandatory;
    
}
.carrousel_ecran {
      /* largeur du parent pour chaque enfant */
        width: 100%;
      /* permet de garder toute la largeur du parent */
        flex: none;
        scroll-snap-align: start;

      
}
.carrousel_ecran figure {
      /* enlève les marges par défaut */
      margin: 0;
}

.carrousel {
    position: relative;
  }
  
.carrousel_btn {
    position: absolute;
    top: 50%;
    top: calc(
      min(500px, 100vw) / 16 * 9 / 2 + 1rem
    ); /* centre verticalement ~50% vertical */
    transform: translateY(-50%); /* methode du point mort */
    width: 2rem;
    height: 2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
  }
  
.carrousel_btn-avant {
    left: 0;
  }
  
.carrousel_btn-apres {
    right: 0;
  }

/* en vrac :
0 0 1rem display center flex gap 
justify-content list-style margin none padding
*/
.caroussel_liste-liens {
  display:flex ; /* aligne horizontalement les enfants */
  justify-content:center ; /* centre horizontalement les enfants */
  margin : 0 ; /* enlève les marges par défaut */
  padding: 0; /* enlève les padding par défaut */
  list-style: none; /* enlève les puces par défaut */
  gap: 1rem;/* espace entre les enfants */
}

.actif{
  color: supercouleur 30s infinite;
}

@keyframes supercouleur{
  from, to {color:magenta;}
  10% {color:red;}
  20% {color:brown;}
  30% {color:orange;}
  40% {color:yellow;}
  50% {color:green;}
  60% {color:cyan;}
  70% {color:blue;}
  80% {color:indigo;}
  90% {color:violet;}
}

.actif{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  animation: supercouleur 10s infinite;
}


#ecran-1 {
  background-color: blue;
  color: #fff;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
#ecran-2 {
  background-color: pink;
  color: black;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
#ecran-3 {
  background-color: yellow;
  color: black;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
#ecran-4 {
  background-color: brown;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
#ecran-5 {
  background-color: red;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

body{
  background-color: supercouleur 1s infinite;
}