/* en vrac :
100% 100%   
display  flex none 
 width
*/
*{
    box-sizing: border-box;
    /* change le box model */
}
img {
    width: 100%;
    height: auto;
      /* image responsive, largeur maxi */
      /* hauteur "auto" */
}
.carrousel_parent-ecrans {

      /* aligne horizontalement les enfants */
    display: flex;
      /* largeur du parent */
    width: 100%;
    overflow-x: scroll; /* permet de scroller horizontalement */
    scroll-behavior: smooth; /* permet d'avoir un scroll fluide */
    
}
.carrousel_ecran {
      /* largeur du parent pour chaque enfant */
        width: 100%;
      /* permet de garder toute la largeur du parent */
        flex: none;

      
}
.carrousel_ecran figure {
      /* enlève les marges par défaut */
      margin: 0;
}
